/* Hacker Theme for Smart Proxy Dashboard */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d0d0d;
    color: #00ff00;
    margin: 0;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #00ff00;
    border-bottom: 1px solid #00ff00;
    padding-bottom: 5px;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    gap: 20px;
}

.main-content {
    flex: 3;
}

.sidebar {
    flex: 1;
    background: #1a1a1a;
    padding: 20px;
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px #00ff00;
    height: fit-content;
}

#requests-table {
    width: 100%;
    border-collapse: collapse;
    background: #1a1a1a;
    border: 1px solid #00ff00;
}

#requests-table th,
#requests-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #00ff00;
}

#requests-table th {
    background-color: #00ff00;
    color: #0d0d0d;
    font-weight: 600;
}

#requests-table tbody tr:nth-child(even) {
    background-color: #1f1f1f;
}

#requests-table tbody tr:hover {
    background-color: #333;
}

#requests-table tbody tr.blacklisted {
    background-color: #ff0000;
    color: #fff;
}

.url-cell {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul {
    background: #1a1a1a;
    padding: 0;
    border: 1px solid #00ff00;
    list-style-type: none;
}

li {
    padding: 10px;
    border-bottom: 1px solid #00ff00;
}

li:last-child {
    border-bottom: none;
}

a {
    color: #00ff00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.proxy-form input,
.proxy-form button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    background: #1a1a1a;
    border: 1px solid #00ff00;
    color: #00ff00;
    font-family: 'Courier New', Courier, monospace;
}

.proxy-form button {
    width: 100%;
    cursor: pointer;
}

.proxy-form button:hover {
    background: #00ff00;
    color: #0d0d0d;
}

#proxy-response-container {
    margin-top: 20px;
    border: 1px solid #00ff00;
    padding: 10px;
}

#proxy-response {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #000;
    padding: 15px;
    border-left: 3px solid #00ff00;
}
#view-in-new-tab {
    background: #00ff00;
    color: #0d0d0d;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #00ff00;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#view-in-new-tab:hover {
    background: #1a1a1a;
    color: #00ff00;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #00ff00;
}

::-webkit-scrollbar-thumb:hover {
    background: #00cc00;
}
